




img {
	max-width: 100%;
}

p {
	margin-bottom: 5px;
}

.info {background-color:rgb(255,0,0,0.9);
margin-top: 10px;
padding: 5px;
} /* Blue */
.info:hover {background: red}

h3,h1{

	color: rgb(255,255,0)	;
	font-family: 'Permanent Marker', cursive;
}
li {
	margin-bottom: 0;
}

.meal {
	margin: 20px 0;
}

.text-center {
	text-align: center;
}
